<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Petition</title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <div id="logo-container">
            <div id="petitio">PETITO-</div>
            <div id="image-container">
                <div id="mat">MAT</div>
                <img id="logo-landing-page" src="/logo.jpg" />
            </div>
        </div>
        {{{body}}}
    </body>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/script.js"></script>
</html>