<h3>We at caretaker strongly believe that this is true. Too often our hearfelt
    ambitions to care get stuck with the nitty gritty details. What to care
    about and why? No longer! We at caretaker take care of these details for
    you. Just lend us your voice and a dedicated team of experts will take care
    of the rest. Save time and lend your voice to issues that really matter!</h3>
<form method="GET" action="/register">
    <button>Register</button>
</form>
<form method="GET" action="/login">
    <button>Login</button>
</form>