<div class="header-container">
    <div class="header-text">Have fun,
        <br />
        while lending your voice to issues
        <br />
        that really matter!</div>
</div>
<div class="main-container">
    <div class="main-text">
        No idea what to raise your voice for and why? We at PETITO-MAT take care
        of these nitty gritty details for you!
        <br /><br />
        The offer is as simple as attractive: Have fun, while a team of
        dedicated experts takes care of the rest. Saving time and making your
        voice heared on issues that really matter has never been easier!
    </div>
</div>
<div class="button-container">
    <form method="GET" action="/register" style>
        <button class="register-button">Register</button>
    </form>
    <form method="GET" action="/login">
        <button class="login-button">Login</button>
    </form>
</div>