<form action="" method="POST">
    <div>
        <label for="Enter an email address"></label>
        <input type="text" name="email">
    </div>
    <div>
        <label for="password">Choose a password</label>
        <input type="text" name="password" />
    </div>

    {{/if falseDataProvided=true}}
    <div>
        <h1>Please enter your email and password again.</h1>
    </div>
    {{#if}}
</form>