<form action="" method="POST">
    <div>
        <input type="text" name="email" placeholder="Emailaddress" />
    </div>
    <div>
        <input type="password" name="password" placeholder="Password" />
    </div>
    <div>
        <input id="submitButton" type="submit" />
    </div>
    <div>
        {{>errorMessage}}
    </div>

    {{!-- {{/if falseDataProvided=true}}
    <div>
        <h1>Please enter your email and password again.</h1>
    </div>
    {{#if}} --}}
</form>