<form action="" method="POST">
    <div class="firstName">
        <label for="firstName">Enter your first name.</label>
        <input type="text" name="firstName" />
    </div>
    <div class="lastName">
        <label for="lastName">Enter your last name.</label>
        <input type="text" name="lastName" />
    </div>
    <div class="signature">
        <input type="hidden" name="signature" value="signature" />
    </div>
    <div class="submittButton">
        <input type="submit" />
    </div>
    <div class="canvas">
        <canvas width="600" height="300"></canvas>
    </div>
</form>