<form action="" method="POST">
    <div>
        <input id="signature" type="hidden" name="signature" value="" />
    </div>
    <div>
        <input id="submitButton" type="submit" />
    </div>
    <div>
        <canvas id="canvas" width="600" height="300"></canvas>
    </div>
</form>