<div class="header-container">
    <div class="header-text">Second step: Further Information </div>
</div>

<form class="main-container" method="POST">
    <div>
        <input class="input-field" name="age" type="number" placeholder="Age" /> 
    </div>
    <div>
        <input class="input-field" name="city" type="text" placeholder="City" />
    </div>
    <div>
        <input class="input-field" name="url" type="url" placeholder="Webpage" />
    </div>
    <div>
        <button class="submit-button">Submit</button>
    </div>
    <div>
        {{>errorMessage}}
    </div>
</form>
<div class="button-container">
</div>