<form method="POST">
    <div>
        <input name="age" type="number" placeholder="Age" /> 
    </div>
    <div>
        <input name="city" type="text" placeholder="City" />
    </div>
    <div>
        <input name="url" type="url" placeholder="Webpage" />
    </div>
    <div>
        <button>Submit</button>
    </div>
    <div>
        {{>errorMessage}}
    </div>
</form>