<form method="POST">
    <input name="age" type="number" placeholder="Age"> 
    {{!-- type number is constraint on input, other ex. min="18", max="" --}}

    <input name="age" type="text">
    <input name="url" type="url"
    
    <button>Submit</button>
</form>