<div class="header-container">
    <div class="header-text">First step: Register </div>
</div>


<form class="main-container" method="POST">
    <div>
        <input class="input-field" type="text" name="first" placeholder="First Name" required />
    </div>
    <div>
        <input class="input-field" type="text" name="last" placeholder="Last Name" required />
    </div>
    <div>
        <input class="input-field" type="text" name="email" placeholder="Emailaddress" required />
    </div>
    <div>
        <input class="input-field" type="text" name="password" placeholder="Password" required />
    </div>
    <div>
        {{>errorMessage}}
    </div>
    <input class="submit-button" type="submit" />
</form>
<div class="button-container">
</div>



{{!-- {{#if errorRegistering=true}}
    <div>
        <h1>First name, last name, email and password are required to register for this page!</h1>
    </div>
{{/if}} --}}