{{!-- 
TO DOs:
# 1 Add required, check whether it works;
--}}

<form action="" method="POST">
    <div>
        <input type="text" name="first" value="First Name" required />
    </div>
    <div>
        <input type="text" name="last" value="Last Name" required />
    </div>
    <div>
        <input type="text" name="email" value="Emailaddress" required />
    </div>
    <div>
        <input type="text" name="password" value="Password" required />
    </div>
    <div>
        <input id="submitButton" type="submit" />
    </div>
    <div>
        {{>errorMessage}}
    </div>
</form>

{{!-- {{#if errorRegistering=true}}
    <div>
        <h1>First name, last name, email and password are required to register for this page!</h1>
    </div>
{{/if}} --}}