<form action="" method="POST">
    <div>
        <label for="first">Enter your first name: </label>
        <input type="text" name="first" value="placeholder" />
    </div>
    <div>
        <label for="last">Enter your last name: </label>
        <input type="text" name="last" value="placeholder" />
    </div>
    <div>
        <label for="email">Enter an email address: </label>
        <input type="text" name="email" value="placeholder" />
    </div>
    <div>
        <label for="password">Choose a password: </label>
        <input type="text" name="password" value="placeholder" />
    </div>
    <div>
        <input id="submitButton" type="submit" />
    </div>
    <div>
        {{>errorMessage}}
    </div>
</form>

{{!-- {{#if errorRegistering=true}}
    <div>
        <h1>First name, last name, email and password are required to register for this page!</h1>
    </div>
{{/if}} --}}