<form action="" method="POST">
    <div>
        <input type="text" name="first" value="First Name" />
    </div>
    <div>
        <input type="text" name="last" value="Last Name" />
    </div>
    <div>
        <input type="text" name="email" value="Emailaddress" />
    </div>
    <div>
        <input type="text" name="password" value="Password" />
    </div>
    <div>
        <input id="submitButton" type="submit" />
    </div>
    <div>
        {{>errorMessage}}
    </div>
</form>

{{!-- {{#if errorRegistering=true}}
    <div>
        <h1>First name, last name, email and password are required to register for this page!</h1>
    </div>
{{/if}} --}}