<h1>List of Signatories</h1>
{{#each signatories}}
    <div>{{this}}</div>
    {{! Kind of update we need! }}
    {{!-- {{#if age}}
        ({{age}})
    {{/if}} --}}

{{/each}}

<div>
    {{>errorMessage}}
</div>
