<h1>Many thanks for singning.</h1>
<a href="signatories">See all {{usersCount}} signatories</a>
<img
    id="signatureThanksPage"
    src="{{signatureAsUrl}}"
    alt="Image of signature"
/>

<div id="frame">
    <div id="good-deeds-container">
            <h3 class="good-deed uneven">amazon!</h3>
            <h3 class="good-deed even">dolphins!</h3>
            <h3 class="good-deed uneven">elephants!</h3>
            <h3 class="good-deed even">Great Barrier Reef!</h3>
            <h3 class="good-deed uneven">Cuba!</h3>
    </div>
</div>


<form method="GET" action="/profile/edit">
    <button>Update Profile</button>
</form>
<form method="POST" action="/signature/delete">
    <button>Delete Signature</button>
</form>
<div>
    {{>errorMessage}}
</div>