<h1>Many thanks for singning.</h1>
<a href="signatories">See all {{usersCount}} signatories</a>
<img
    id="signatureThanksPage"
    src="{{signatureAsUrl}}"
    alt="Image of signature"
/>
<form method="GET" action="/profile/edit">
    <button>Update Profile</button>
</form>
<form method="POST" action="/signature/delete">
    <button>Delete Signature</button>
</form>
<div>
    {{>errorMessage}}
</div>